$body-font: 'Roboto', sans-serif;
$background_nav: transparent;
$background_uno:#f0f0f0;
$background_footer: #323437;
$color_titulo_uno: white;
$color_titulo_dos: #3c4858;
$color_texto_uno: grey;
$color_cuadro_uno: #e91e63;
$color_cuadro_dos: #00bcd4;
$color_cuadro_tres: #4caf50;
$color_fb: #3b5998;
$color_tw: #55acee;
$color_in: #0976b4;
$color_gg: #dd4b39;
$color_dr: #eb538e;
$color_gt: #333333;
$color_pi: #cc2127;